{% extends "layout.html.twig" %}

{% block head %}

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<title>
		Ajout d'une personne
	</title>

</head>
{% endblock %}


{% block content %}
	<form action="index.php?page=addPersonne" method="POST" class="">
		<div class="mb-3">
			<label for="nom" class="form-label">
				Nom : 
			</label>
			<input type="text" class="form-label" id="nom" name="nom">
		</div>
		<div class="mb-3">
			<label for="prenom" class="form-label">
				Prénom : 
			</label>
			<input  type="text" class="form-label" id="prenom" name="prenom">
		</div>
		<div class="mb-3"> 
		<label for="email" class="form-label">
			Adresse mail : 
		</label>
		<input  type="email" placeholder ='exemple@mail.com' class="form-label" id="email" name="email">
	</div>
	<div class="mb-3">
	<label for="password" class="form-label">
		Mot de Passe : 
	</label>
	<input  type="password" class="form-label" id="password" name="password">
</div>
    <button type="submit" class="btn btn-danger" name="btnAddDev">
Ajouter en tant que développeur</button>
<button type="submit" class="btn btn-danger" name="btnAddClient">
	Ajouter en tant que contact d'entreprise</button>
</form>{% endblock %}