{% extends "layout.html.twig" %}

{% block title %}Not Available{% endblock %}

{% block content %}
<div class="container">
    <div class="alert alert-danger" role="alert">
        Notre site est actuellement indisponible, revenez dans quelques minutes !
      </div>
</div>
{% endblock %}