{% extends "layout.html.twig" %}
{% block messagerieNotif %}{{nbNotifs}}{% endblock %}

{% block title %}Coucou !{% endblock %}

{% block content %}
<div class="container">
    <p class="text-primary card">
        ReCoucou
    </p>
    <h1>Bonjour, {{role}}</h1>
    {% if session.login is defined %}
    <p>Connecté en tant que {{session.login}}</p>
    {% endif %}
</div>
{% endblock %}