{% extends "layout.html.twig" %}

{% block title %}Coucou !{% endblock %}

{% block content %}
<div class="container">
    <p class="text-primary card">
        ReCoucou
    </p>
    </div>
{% endblock %}