<!DOCTYPE html>
<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop - {% block title %}{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet"
        crossorigin="anonymous">
</head>

<body class="d-flex flex-column min-vh-100">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container">
            <a class="navbar-brand" href="#">Shop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle Navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="Barrenavigation">
                <ul class="navbar-nav mb-2 mb-lg-0">
                    <li class="nav-item"><a href="?page=home" class="nav-link">Accueil</a></li>
                    <li class="nav-item"><a href="?page=addPersonne" class="nav-link">Personne</a></li>
                    <li class="nav-item"><a href="?page=addEntreprise" class="nav-link">Entreprise</a></li>
                    <li class="nav-item"><a href="?page=addContrat" class="nav-link">Contrat</a></li>
                    <li class="nav-item"><a href="?page=addTache" class="nav-link">Tache</a></li>
                    <li class="nav-item"><a href="?page=addModule" class="nav-link">Module</a></li>
                    <li class="nav-item"><a href="?page=addOutil" class="nav-link">Outils</a></li>
                    <li class="nav-item"><a href="?page=listePersonnes" class="nav-link">Liste Personnes</a></li>
                    {% if session.login is defined %}
                    <li class="nav-item"><a href="?page=deconnexion" class="nav-link">Deconnexion</a></li>
                    <li class="nav-item"><a href="?page=messagerie" class="nav-link">Messagerie
                           <b style="color: red;">{% block messagerieNotif %}{% endblock %}</b></a></li>
                    {% else %}
                    <li class="nav-item"><a href="?page=login" class="nav-link">Connexion</a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>
    <div class="bg-light rounded px-5 py-4 mb-5">
        <div class="container">
            <h1>SimpleEdu</h1>
        </div>
    </div>

    {% block content %}{% endblock %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        crossorigin="anonymous"></script>
    <footer class="card-footer bg-dark text-light mt-auto">
        <p>
            Copyright (C) 2022 EPSI Tous droits réservés.
        </p>
    </footer>
</body>

</html>