{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

  <div class="card bg-grey mx-auto" style="width: 30%;">
    <div class="m-5 ">
      <h1>Login</h1>

      {% if user == "faux" %}
      <p style="color: red;">Mauvais email ou mot de passe</p>
      {% else %}
      {% if user == 'connecte' %}
      <p style="color: green;">Connecté !</p>
      {% endif %}
      {% endif %}
      <form action="?page=login" method="post">
        <br>

        <p>
          <label for="emailLogin">Username :</label>
          <input type="email" name="emailLogin" placeholder="Username">
        </p>

        <p>
          <label for="passwordLogin">Password :</label>
          <input type="password" name="passwordLogin" placeholder="Password">
        </p>

        <input type="submit" name="submitLogin" class="btn btn-primary">
      </form>

      <a href="?page=register">Register</a>
    </div>
  </div>
</div>
{% endblock %}