{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">
  <div class="alert alert-danger" role="alert">
    login
  </div>
</div>
{% endblock %}