{% extends "layout.html.twig" %}
{% block messagerieNotif %}{{nbNotifs}}{% endblock %}

{% block title %}
	Page ajouter
{% endblock %}

{% block content %}
    <div class="container">
    {% if NomEntreprise.Nom != null %}
	
        <a class="link" href="?page=addEntreprise">Retour</a>
			<form enctype="multipart/form-data" method="post" id="{{entreprise.IDEntre}}">
				ID de l'Entreprise : {{IDEntreprise}}
                <p>Nom de l'Entreprise :
				<input type="text" value="{{NomEntreprise.Nom}}" name="modifierNomEntreprise"/> </p>
				<input type="submit" name="modifierEntreprise">
			</form>
    {% else %}
        <p class="card bg-danger text-white p-3"> ID n'est pas dans la base de données</p>
    {% endif %}
    </div>
{% endblock %}
