{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

  <div class="card bg-grey mx-auto" style="width: 50%;">
    <div class="m-5 ">
      <h1>Register</h1>

      {% if erreur == "existe deja" %}
      <p style="color: red;">Cette adresse mail existe déjà !</p>
      {% endif %}

      {% if erreur == "remplir champs" %}
      <p style="color: red;">Veuillez remplir tous les champs !</p>
      {% endif %}

      {% if erreur == "compte cree" %}
      <p style="color: green;">Compte créé !</p>
      {% endif %}

      {% if erreur == "mdp trop court" %}
      <p style="color: red;">Mot de passe trop court (Minimum 3 caractères) !</p>
      {% endif %}

      <form action="?page=register" method="POST">
        <p>
          <label for="registerEmail">Email :</label>
          <input type="email" name="registerEmail" placeholder="Email">
        </p>
        <p>
          <label for="registerNom">Nom :</label>
          <input type="text" name="registerNom" placeholder="Nom">
        </p>
        <p>
          <label for="registerPrenom">Prénom :</label>
          <input type="text" name="registerPrenom" placeholder="Prénom">
        </p>
        <p>
          <label for="registerPassword">Password :</label>
          <input type="password" name="registerPassword" placeholder="Password">
        </p>
        {#
        <p>
          <label for="password">Confirm Password :</label>
          <input type="password2" name="password2" placeholder="Confirm Password">
        </p>
        #}

        <input type="submit" name="registerBtn" class="btn btn-primary">
      </form>
      <a href="?page=login">Login</a>
    </div>
  </div>

</div>
{% endblock %}