{% extends "layout.html.twig" %}

{% block title %}Login{% endblock %}

{% block content %}
<div class="container">

  <div class="card bg-grey mx-auto" style="width: 50%;">
    <div class="m-5 ">
      <h1>Register</h1>
      <form action="?page=register">
        <br>

        <p>
          <label for="username">Username :</label>
          <input type="text" name="username" placeholder="Username">
        </p>

        <p>
          <label for="password">Password :</label>
          <input type="password" name="password" placeholder="Password">
        </p>

        <p>
          <label for="password">Confirm Password :</label>
          <input type="password2" name="password2" placeholder="Confirm Password">
        </p>
        
        <input type="submit" value="Register" class="btn btn-primary">
      </form>
      <a href="?page=login">Login</a>
    </div>
  </div>

</div>
{% endblock %}