{% extends "layout.html.twig" %}

{% block title %}Inscription{% endblock %}

{% block content %}
<div class="container">

  <div class="card bg-grey mx-auto" style="width: 50%;">
    <div class="m-5 ">
      <h1>Inscription</h1>

      {% if erreur == "existe deja" %}
      <p style="color: red;">Cette adresse mail existe déjà !</p>
      {% endif %}

      {% if erreur == "remplir champs" %}
      <p style="color: red;">Veuillez remplir tous les champs !</p>
      {% endif %}

      {% if erreur == "compte cree" %}
      <p style="color: green;">Compte créé !</p>
      {% endif %}

      <form action="?page=register" method="POST" id="registrationForm" onsubmit="return validateFormRegister()">
        <span style="color: red;" id="champsError" class="error"></span>
        <p>
          <label for="registerEmail">Email :</label>
          <input type="email" name="registerEmail" placeholder="Email">
        </p>
        <span style="color: red;" id="emailError" class="error"></span>
        <p>
          <label for="registerNom">Nom :</label>
          <input type="text" name="registerNom" placeholder="Nom">
        </p>
        <span  style="color: red;" id="nomError" class="error"></span>
        <p>
          <label for="registerPrenom">Prénom :</label>
          <input type="text" name="registerPrenom" placeholder="Prénom">
        </p>
        <span style="color: red;" id="prenomError" class="error"></span>
        <p>
          <label for="registerPassword">Mot de passe :</label>
          <input type="password" name="registerPassword" id="registerPassword" placeholder="Mot de passe">
        </p>
        <span style="color: red;" id="passwordError" class="error"></span>
        <p>
          <label for="password">Confirmer le mot de passe :</label>
          <input type="password" name="password2" id="password2" placeholder="Confirmer le mot de passe">
        </p>
        <span style="color: red;" id="password2Error" class="error"></span>
        <br>
        <input type="submit" name="registerBtn" class="btn btn-primary">
      </form>
      <a href="?page=login">Déjà inscrit ? Se connecter ici</a>
    </div>
  </div>

</div>

{% endblock %}