<p>Bonjour {{email}} !</p>
<p>Tu es coincé à tout jamais avec moi</p>
<p>
    <a href="https://s4-8060.nuage-peda.fr/SLAM-Projet1/?page=confirmRegister&idRegister={{idRegister}}">Confirmer le compte ICI</a>
</p>

<p>{{idRegister}}</p>