<p>Bonjour {{email}} !</p>
<p>Vérifier votre compte !</p>
<p>
    <a href="https://s4-8060.nuage-peda.fr/SLAM-Projet1/?page=confirmRegister&idRegister={{idRegister}}">Confirmer le compte ICI</a>
</p>
